.u-section-1 .u-sheet-1 {
  min-height: 1431px;
}

.u-section-1 .u-image-1 {
  width: 854px;
  height: 1208px;
  box-shadow: 0 0 40px 5px rgba(128,128,128,1);
  transition-duration: 0.5s;
  margin: 111px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1242px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 1019px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 764px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-image-1 {
    width: 440px;
    height: 622px;
    margin-left: -50px;
    margin-right: -50px;
  }
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 0 0 40px 15px rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 0 0 40px 15px rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
  border-width: 0px !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 457px;
}

.u-section-2 .u-text-1 {
  font-size: 3.4375rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  margin: 60px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-size: 1.875rem;
  text-transform: uppercase;
  font-weight: 700;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 52px auto 60px;
  padding: 15px 62px 15px 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.375rem;
    width: auto;
    margin-top: 86px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.5rem;
  }
}

.u-section-2 .u-btn-1,
.u-section-2 .u-btn-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover {
  box-shadow: 2px 2px 40px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-2 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-1.u-btn-1.u-btn-1.hover {
  box-shadow: 2px 2px 40px 0 rgba(128,128,128,1) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-2 .u-btn-1 {
  border-style: solid !important;
  border-width: 0px !important;
}