<!-- Footer -->
<footer class="footer">
  <div class="footer__container">
    <div class="footer__brand">
      <img src="images/logo/favicon.png" alt="PDAO Logo" class="footer__logo">
      <div class="footer__brand-text">PDAO</div>
    </div>

    <div class="footer__grid">
      <div class="footer__column">
        <a href="about.html" class="footer__column-title" data-i18n="footer.about">About</a>
        <a href="about.html#history" class="footer__link" data-i18n="nav.history">History</a>
        <a href="https://github.com/postech-dao/pdao/blob/main/README.md" target="_blank" class="footer__link"
          data-i18n="nav.ir">IR</a>

      </div>



      <div class="footer__column">
        <a href="assets.html" class="footer__column-title" data-i18n="footer.assets">Assets</a>
        <a href="assets.html#poppin" class="footer__link" data-i18n="nav.poppin">Poppin</a>
        <a href="assets.html#logo" class="footer__link" data-i18n="nav.logo">Logo</a>
      </div>

      <div class="footer__column">
        <a href="profile.html" class="footer__column-title" data-i18n="footer.profile">Profile</a>
        <a href="profile.html#founder" class="footer__link" data-i18n="footer.founder">Founder</a>
        <a href="profile.html#organizer" class="footer__link" data-i18n="footer.organizer">Organizer / Director</a>
        <a href="profile.html#contributor" class="footer__link" data-i18n="footer.contributor">Contributor</a>
        <a href="profile.html#contribution-archive" class="footer__link" data-i18n="nav.archive">Contribution Archive</a>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copyright">
        <span data-i18n="footer.copyright">© 2026 Postech DAO. All rights reserved.</span><br>
        <a href="mailto:hi@postech-dao.xyz">hi@postech-dao.xyz</a>
      </div>


    </div>
  </div>
</footer>